.page-button {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  border: 0;

  background: var(--gray-800);
  color: var(--gray-400);

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.page-button--active {
  background: var(--gray-900);
  color: var(--brand-yellow);
}

.page-button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
