/* TipTap Editor Styles */
.ProseMirror {
  outline: none;
}

/* List Styles */
.ProseMirror ul,
.ProseMirror ol {
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

.ProseMirror ul {
  list-style-type: disc;
}

.ProseMirror ol {
  list-style-type: decimal;
}

.ProseMirror li {
  margin: 0.25rem 0;
}

.ProseMirror ul[data-type='taskList'] {
  list-style: none;
  padding-left: 0;
}

.ProseMirror ul[data-type='taskList'] li {
  display: flex;
  align-items: flex-start;
}

.ProseMirror ul[data-type='taskList'] li > label {
  margin-right: 0.5rem;
  user-select: none;
}

.ProseMirror ul[data-type='taskList'] li > div {
  flex: 1;
}

/* Paragraph Styles */
.ProseMirror p {
  margin: 0.5rem 0;
}

.ProseMirror p:first-child {
  margin-top: 0;
}

.ProseMirror p:last-child {
  margin-bottom: 0;
}

/* Heading Styles */
.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  font-weight: 600;
  margin: 1rem 0 0.5rem 0;
}

.ProseMirror h1 {
  font-size: 2rem;
}

.ProseMirror h2 {
  font-size: 1.5rem;
}

.ProseMirror h3 {
  font-size: 1.25rem;
}

/* Placeholder */
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #9ca3af;
  pointer-events: none;
  height: 0;
}
