.circleBtn {
  border: 0;
  border-radius: 999px;
  background: var(--gray-900);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.circleBtn--lg {
  width: 64px;
  height: 64px;
}

.circleBtn--sm {
  width: 40px;
  height: 40px;
}
