.pagination {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.pagination__list {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination__dots {
  width: 24px;
  text-align: center;
  color: var(--gray-500);
}

.pagination__arrow {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  border: 0;
  background: var(--gray-800);
  color: var(--gray-200);

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pagination__arrow:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
