.fbBtn {
  width: 64px;
  height: 64px;
  border-radius: 999px;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.fbBtn--gray {
  background: var(--gray-200);
}

.fbBtn--dark {
  background: var(--gray-900);
}
